node-red-client.json
[{"id":"437907bf.4a05a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5eb80ad8.60df84","type":"OpcUa-Client","z":"437907bf.4a05a8","endpoint":"f287c32d.bac3d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":220,"y":360,"wires":[["2ba7e9b.39d3d16","647c5b0b.4a39c4"]]},{"id":"94a9fa73.ba24d8","type":"inject","z":"437907bf.4a05a8","name":"","topic":"ns=1;s=Joinville-Temperature;datatype=Double","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["5eb80ad8.60df84"]]},{"id":"2ba7e9b.39d3d16","type":"debug","z":"437907bf.4a05a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":240,"wires":[]},{"id":"647c5b0b.4a39c4","type":"ui_gauge","z":"437907bf.4a05a8","name":"","group":"a25c345f.3cceb8","order":1,"width":"6","height":"6","gtype":"wave","title":"Temperatura","label":"ºC","format":"{{value | number:0}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"16","seg2":"34","x":430,"y":380,"wires":[]},{"id":"f287c32d.bac3d","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://DESKTOP-PP8R0J0:4334","secpol":"None","secmode":"None","login":false},{"id":"a25c345f.3cceb8","type":"ui_group","z":"","name":"OPCUA Client","tab":"31a1370c.869cc8","disp":true,"width":"6","collapse":false},{"id":"31a1370c.869cc8","type":"ui_tab","z":"","name":"OPCUA Client","icon":"dashboard","disabled":false,"hidden":false}]