node-red-client.json
[{"id":"437907bf.4a05a8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"5eb80ad8.60df84","type":"OpcUa-Client","z":"437907bf.4a05a8","endpoint":"f287c32d.bac3d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":480,"y":180,"wires":[["2ba7e9b.39d3d16","647c5b0b.4a39c4"]]},{"id":"94a9fa73.ba24d8","type":"inject","z":"437907bf.4a05a8","name":"","topic":"ns=1;s=SportsSensor-BPM;datatype=Double","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":180,"wires":[["5eb80ad8.60df84"]]},{"id":"2ba7e9b.39d3d16","type":"debug","z":"437907bf.4a05a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":180,"wires":[]},{"id":"647c5b0b.4a39c4","type":"ui_gauge","z":"437907bf.4a05a8","name":"Batimento Cardíaco","group":"a25c345f.3cceb8","order":1,"width":"6","height":"6","gtype":"compass","title":"Batimento Cardíaco","label":"BPM","format":"{{value | number:0}}","min":0,"max":"250","colors":["#00b500","#e6e600","#ca3838"],"seg1":"16","seg2":"34","x":800,"y":240,"wires":[]},{"id":"5e8e7484.fba7dc","type":"inject","z":"437907bf.4a05a8","name":"","topic":"ns=1;s=SportsSensor-LastReading;datatype=String","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":280,"wires":[["5c7dc249.e3d98c"]]},{"id":"e4207da6.2acac","type":"inject","z":"437907bf.4a05a8","name":"","topic":"ns=1;s=SportsSensor-ChannelName;datatype=String","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":480,"wires":[["a9294096.30676"]]},{"id":"8b12a6ef.608248","type":"inject","z":"437907bf.4a05a8","name":"","topic":"ns=1;s=SportsSensor-ChannelDescription;datatype=String","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":380,"wires":[["bfb83b7b.db1ca8"]]},{"id":"bfb83b7b.db1ca8","type":"OpcUa-Client","z":"437907bf.4a05a8","endpoint":"f287c32d.bac3d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":480,"y":400,"wires":[["34dfe655.de696a","cc05ff46.f8b67"]]},{"id":"5c7dc249.e3d98c","type":"OpcUa-Client","z":"437907bf.4a05a8","endpoint":"f287c32d.bac3d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":480,"y":300,"wires":[["d355b5a3.719af8","e5839928.bc2018"]]},{"id":"a9294096.30676","type":"OpcUa-Client","z":"437907bf.4a05a8","endpoint":"f287c32d.bac3d","action":"read","deadbandtype":"a","deadbandvalue":1,"time":10,"timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"","x":480,"y":500,"wires":[["5541e917.1e32d8","59565ed5.be8bd"]]},{"id":"d355b5a3.719af8","type":"debug","z":"437907bf.4a05a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":300,"wires":[]},{"id":"34dfe655.de696a","type":"debug","z":"437907bf.4a05a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":420,"wires":[]},{"id":"5541e917.1e32d8","type":"debug","z":"437907bf.4a05a8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":540,"wires":[]},{"id":"e5839928.bc2018","type":"ui_text","z":"437907bf.4a05a8","group":"a25c345f.3cceb8","order":4,"width":0,"height":0,"name":"Última Leitura","label":"","format":"{{msg.payload}}","layout":"col-center","x":780,"y":360,"wires":[]},{"id":"cc05ff46.f8b67","type":"ui_text","z":"437907bf.4a05a8","group":"a25c345f.3cceb8","order":3,"width":0,"height":0,"name":"Descrição","label":"","format":"{{value}}","layout":"col-center","x":760,"y":480,"wires":[]},{"id":"59565ed5.be8bd","type":"ui_text","z":"437907bf.4a05a8","group":"a25c345f.3cceb8","order":2,"width":0,"height":0,"name":"Nome","label":"","format":"{{value}}","layout":"col-center","x":750,"y":600,"wires":[]},{"id":"f287c32d.bac3d","type":"OpcUa-Endpoint","z":"","endpoint":"opc.tcp://DESKTOP-PP8R0J0:4334","secpol":"None","secmode":"None","login":false},{"id":"a25c345f.3cceb8","type":"ui_group","z":"","name":"OPCUA Client","tab":"31a1370c.869cc8","disp":true,"width":"6","collapse":false},{"id":"31a1370c.869cc8","type":"ui_tab","z":"","name":"OPCUA Client","icon":"dashboard","order":1,"disabled":false,"hidden":false}]